.user-username {
	color: blue;
}

.user-email {
	color: red;
}

#user-add-new {
	color: blue;
	text-decoration: none;
}

#user-add-new:hover {
	text-decoration: underline;
}
#user-title {
	color: green;
}